<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <table class="table table-striped">
  <thead>
      <tr>
          <th>Service</th>
          <%# <th>Environment</th>%>
          <th>URL</th>
          <th>Status</th>
          <th>Description</th>
          <th>Aproximate Response Time</th>
      </tr>
  </thead>
  <br>
      <tbody id="tableData"></tbody>
  </table>
  <script type="text/javascript">
  var socket = io();
  socket.on('status', function(data){
    console.log("###########:: ",data);
    var k = '<tbody>'
    for(i = 0;i < data.length; i++){
        k+= '<tr style="border-bottom: 1px solid black">';
        if(data[i].status===200){
          k+= '<td>' + data[i].name + '</td>';
          // k+= '<td>' + data[i].env + '</td>';
          k+= '<td>' + data[i].url + '</td>';
          k+= '<td style="color:green">' + data[i].status + '</td>';
          k+= '<td style="color:green">' + data[i].description + '</td>';
          k+= '<td>' + data[i].time + '</td>';
        }else{
          k+= '<td style="color:red">' + data[i].name + '</td>';
          // k+= '<td style="color:red>'  + data[i].env + '</td>';
          k+= '<td style="color:red">' + data[i].url + '</td>';
          k+= '<td style="color:red">' + data[i].status + '</td>';
          k+= '<td style="color:red">' + data[i].description + '</td>';
          k+= '<td style="color:red">' + data[i].time + '</td>';
        }
        k+= '</tr>';
    }
    k+='</tbody>';
    document.getElementById('tableData').innerHTML = k;
  });
 </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
