<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<br>
<main>
  <script src="/socket.io/socket.io.js"></script>
  <table cellpadding="2" cellspacing="2" border="0" width="100%" align="center">
  <thead>
      <tr>
          <th>URL</th>
          <th>Status</th>
          <th>Description</th>
          <th>Aproximate Response Time</th>
      </tr>
  </thead>
  <br>
      <tbody id="tableData"></tbody>
  </table>
  <script type="text/javascript">
  var socket = io();
  socket.on('status', function(data){
    var k = '<tbody>'
    for(i = 0;i < data.length; i++){
        k+= '<tr style="border-bottom: 1px solid black">';
        k+= '<td>' + data[i].url + '</td>';
        if(data[i].status===200){
          k+= '<td align="justify" style="color:green">' + data[i].status + '</td>';
          k+= '<td align="justify" style="color:green" width="30%">' + data[i].description + '</td>';
        }else{
          k+= '<td align="justify" style="color:red">' + data[i].status + '</td>';
          k+= '<td align="justify" style="color:red" width="30%">' + data[i].description + '</td>';
        }
        k+= '<td align="center" width="30%">' + data[i].time + '</td>';
        k+= '</tr>';
    }
    k+='</tbody>';
    document.getElementById('tableData').innerHTML = k;
  });
 </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
